*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35vh;
    width: 80vh;
    background-color:#C0BFBE;

}
.square{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 130px;
    width: 130px;
    border: 1px solid;
    border-color: white;
    margin: 0 25px;
    transition: transform 1s, background-color 1s, width 1s, height 1s;
}
h1{
    position: absolute;
    left: 895px;
    top: 320px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
#fb{
    background-color: #455A99;
}
#twt{
    background-color: #4BACF0;
}
#inst{
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}
.active {
    transform: rotate(360deg) scale(0.8);
    border-radius: 15px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.418);
}