*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#wrapper{
    display: flex;
    justify-content: center;
    min-height: 100vh; /*set la hauteur min à 100 pour pouvoir les centrer*/    
}
.container{
    display: grid;
    grid-template-columns: repeat(2, 200px);
    grid-template-rows: repeat(2, 200px);
    gap: 10px;
}
.square {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
    border: 1px solid;
    
}