*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("exo5.jpg");
    background-size: cover;
}

#wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35vh;
    width: 80vh;
    position: relative;
}
.converter{
    color: white;
    width: 500px;
    height: 500px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: rgba(128, 128, 128, 0.452);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}