*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("exo5.png");
}

#wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35vh;
    width: 80vh;
    border-radius: 15px;
    background-color:red;
    position: relative;
}
